* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.wrap{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.clear-float{
  content: "";
  display: block;
  clear: both;
}

h1{
  font-size: 30px;
  color: black;
}

h2{
  font-size: 25px;
  color: blue;
}
